java-basics/
/C1-2023/G2U1/exercise-1/Exercise1/target/
/C1-2023/G2U1/exercise-2/Exercise2/target/
/C1-2023/G2U1/exercise-3/Exercise3/target/
/C1-2023/G2U1/exercise-4/Exercise4/target/
/C1-2023/G2U1/exercise-5/Exercise5/target/
/C1-2023/G2U1/exercise-deliverable/Main/target/
